<h1 class="_page-title">Реєстрація</h1>

<div class="_full_width_container">
    <form class="_add-edit_form">
        <div class="_form_line">
            <label for="email">Email</label>
            <input #email class="_add-edit_input" type="text" id="_email" name="_email" placeholder="Введіть email">
        </div>
        <div class="_form_line">
            <label for="password">Пароль</label>
            <input #password class="_add-edit_input" type="password" id="_password" name="_password" placeholder="Введіть пароль">
        </div>
        <div class="_form_buttons">
            <button class="_main-button" (click)="register(email.value, password.value)">Реєстрація</button>
            <button class="_main-button" (click)="openLoginPage()">Уже є аккаунт</button>
        </div>
    </form>
</div>